header.jumbotron.subhead#overview
  <div class="help">
  p  <a href="aware_of.html">Friends and Privacy</a> <a href="/"> Create application</a>
  </div>
  h1 aWearable
  h2 <a href="about.html" class="selected">About</a> | <a href="how_to.html" class="smallhead">How-To</a>

section#homeContent
    .row
        #progressBox
          .span3
            <img src="images/prog_grey.gif" id="progress_image2" />
            
        .span9
          .page-header
            h1 aWearable Toolkit
            <br>
            <div id="about">
            <p> The aWearable toolkit is a toolkit for creating wearable location- aware applications.<br> It is made up of two parts; an interface and a physical part...
            </p>
            
            <br>
            <p>Without any coding the toolkit lets you:</p>
            <ul>
            <li>Add friends to be aware of</li>
            <li>Decide what location- information to share with friends</li>
            <li>Decide what location- information to receive from friends </li>
            <li>Decide how this location- information is presented</li>
            <li>Physically plug on the chosen parts to the aWearable</li>
            </ul>
            <p><i>(See the <a href="how_to.html">'How-To'</a> for more details on these steps)</i></p>
            </div>
            
    .rowLine
    .row
        #progressBox
          .span3
            <img src="images/prog_grey.gif" id="progress_image2" />
            
        .span9
          .page-header
            h1 aWearable Application Example
                small <br><br>Festival
            <div id="about">
            <p> Some friends are going to a festival. They have previous experience of losing each other <br>in the crowds especially after concerts, and decide to create an aWearable application<br> to locate each other when needed.
            </p>
            <ul>
            <li> They start the aWerable toolkit web application, add each other as friends and set<br> privacy settings as prefered.</li>
            <li> They choose to use vibration and display  </li>
            <li> They set the vibration motor to vibrate when a friend is in- range and the display to show<br> distance and direction to this friend. When they feel the vibration they will know that a <br>friend is in range and that the display will show them where to look.</li>
            <li> Last they set the range, since the festival area is big they use a range of 200 meters.</li>
            </ul>
            <p><i> NB: Friends can create different applications and set different privacy settings.


            
            </div>
       






