<div id="fb-root"></div>
script
    
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '109853005851767', // App ID
      channelUrl : '//localhost:8080/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
      
    });

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
          // User logged into FB and authorized
          testAPI();
          document.getElementById('fb-logout').style.display = 'block';
      } else if (response.status === 'not_authorized') {
          // User logged into FB but not authorized
          login();
      } else {
          // User not logged into FB
          login();
          document.getElementById('fb-logout').style.display = 'block';
      }
    });
    
  };
  
  function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
            testAPI();
        } else {
            // cancelled
        }
    });
  }
  
  function logout() {
    FB.logout(function(response) {
        console.log('User is now logged out');
    });
  }
  
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });  
  }
  
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));
  
  
  FB.init({
        appId  : '109853005851767',
        frictionlessRequests: false
  });

  function sendRequestViaMultiFriendSelector() {
  
      FB.ui({
          method: 'apprequests',
          message: "Would you like to join my aWearable group?",
          picture: 'url to my image',
          max_recipients: '50'
        }, function(response) {
          if(response && response.to) {
                for(i = 0; i < response.to.length; i++) {
                    console.log("number: " + i + " ID: " + response.to[i]);
                    
                    if(i==0) {
                        FB.api('/'+ response.to[i] +'?fields=installed,name', function (response) {
                            console.log(response);
                            var removefriend=document.createElement("button");
                            var t=document.createTextNode("X");
                            removefriend.appendChild(t);
                            var friendnames = document.getElementById("friendnamesDiv");
                            friendnames.innerHTML+=(response['name'] + "<br>");
                            document.getElementById("fjerneDiv").appendChild(removefriend);
                            friendnames.innerHTML+=("<br>");
                            
                        });
                    }
                    if(i==1) {
                        FB.api('/'+ response.to[i] +'?fields=installed,name', function (response) {
                            console.log(response);
                            var removefriend=document.createElement("button");
                            var t=document.createTextNode("X");
                            removefriend.appendChild(t);
                            var friendnames = document.getElementById("friendnamesDiv1");
                            friendnames.innerHTML+=(response['name'] + "<br>");
                            document.getElementById("fjerneDiv1").appendChild(removefriend);
                            friendnames.innerHTML+=("<br>");
                            
                            
                        });
                    }   
                    
              }
          }
      });
  }
      
    function requestCallback(response) {
        var ids = response["to"];
        for (var i = 0; i < ids.length; ++i){
            return ids[i];             
        }
   
    }
 
    function functionRemove() {
        var elem = document.getElementById('friendnamesDiv');
        elem.parentNode.removeChild(elem);
        return false; 
    }
    function functionRemove1() {
        var elem = document.getElementById('friendnamesDiv1');
        elem.parentNode.removeChild(elem);
        return false; 
    }
    

  
header.jumbotron.subhead#overview

  
  h1 aWearable

    h2 <a href="/">Create Application</a> | <a href="aware_of.html" class="selected">Friends and Privacy</a>
    <div id="friendspage">
      
section#homeContent

  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image5" />
        
    .span9
      .page-header
        h1 Friends
          <br>
          small Add friends to your awareness group using facebook
          <br>
        <!--
        <button id="fb-login-button" onclick="login()"></button>
          
        <button id="fb-logout" onclick="logout()">Log out</button>
        <br> --> 
        <img type="button" onclick="sendRequestViaMultiFriendSelector()" id="facebook-login" src="images/facebook-login.png"; return true;/>
        <br><br>
        <div id="following">    
        p 
            b Friends you are aware of:
            <br>
            .span4 
            <div type="text" id="friendnamesDiv"> 
            .span4
            <div TITLE="Delete friend" id="fjerneDiv" onclick="functionRemove()"> </div>
            </div>
            .span4
            <div type="text" id="friendnamesDiv1">
            .span4    
            <div TITLE="Delete friend" id="fjerneDiv1" onclick="functionRemove1()"> </div>
            </div>

        <br>
        
        <div id="followers">  
        p
            b Friends aware of you:
            p
                i No friends are aware of you
        </div>
      </div>

      <br>
      <br>

  .rowLine
  .row
    #progressBox
      .span3
        <img src="images/prog_grey.gif" id="progress_image5" />
  
     
    .span9
      .page-header
        <img src="images/Black_Lock.png" id="lock">
        h1 Privacy settings
          <br>
          small Decide what location information to share with your friends:
        <form action="">
        .span4
          <label for="allow"><b>Distance:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" id="allow" value="allow"> Allow
          <input type="radio" name="privacy" value="Not allow" id="not-allow"> Not Allow <br>
          </div>
        </form>
        <form action="">
        .span4
          <label for="allow"><b>Direction:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" value="Allow"> Allow
          <input type="radio" name="privacy" value="Not allow"id="not-allow"> Not Allow <br>
          </div>
        </form>
        <form action="">

        .span4
          <label for="allow"><b>Coordinates:</b></label>
        .span5
          <div class="privacy_settings">
          <input checked type="radio" name="privacy" value="Allow"> Allow
          <input type="radio" name="privacy" value="Not allow"id="not-allow"> Not Allow
          </div>

        </form>
    .span9
      .page-header
    
