<div id="fb-root"></div>
script
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '109853005851767', // App ID
      channelUrl : '//localhost:8080/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
          // User logged into FB and authorized
          testAPI();
          document.getElementById('fb-logout').style.display = 'block';
      } else if (response.status === 'not_authorized') {
          // User logged into FB but not authorized
          login();
      } else {
          // User not logged into FB
          login();
          document.getElementById('fb-logout').style.display = 'block';
      }
    });
    
  };
  
  function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
            testAPI();
        } else {
            // cancelled
        }
    });
  }
  
  function logout() {
    FB.logout(function(response) {
        console.log('User is now logged out');
    });
  }
  
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });
    FB.api('/me/friends?fields=installed,id,name', function (response) {
        
    });   
  }
  
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));
  
  
  FB.init({
        appId  : '109853005851767',
        frictionlessRequests: true
  });

  function sendRequestViaMultiFriendSelector() {
      FB.ui({
          method: 'apprequests',
          message: "Would you like to join my aWearable group?",
          picture: 'url to my image',
          max_recipients: '50'
        }, function(response) {
          if(response && response.to) {
              for(i = 0; i < response.to.length; i++) {
                  console.log("number: " + i + " ID: " + response.to[i]);

                  FB.api('/'+ response.to[i] +'?fields=installed,name', function (response) {
                      console.log(response);
                      var friendnames = document.getElementById("friendnamesDiv");
                      friendnames.innerHTML+=(response['name'] + "<br>");
                  });

              }
          }
      });
  }
      
  function requestCallback(response) {
    var ids = response["to"];
    for (var i = 0; i < ids.length; ++i){
        return ids[i];             
    }
   
  }
  
header.jumbotron.subhead#overview


    
    .span9
      .page-header
        h1 Create group 
          small <br>Add friends to you awareness group using facebook
          <br>
        <!--
        <button id="fb-login-button" onclick="login()"></button>
          
        <button id="fb-logout" onclick="logout()">Log out</button>
        <br> --> 
        <img type="button" onclick="sendRequestViaMultiFriendSelector()" src="images/facebook_icon.png"; return true;/>
        <br>
        p 
            b Friends added to group:
            <br>
            <div id="friendnamesDiv"></div>
          
        p
            b Friends following you:
            p None
        
        h3 Privacy settings    
        
        
        
    
  
  
  