.span12
    h3 Display
    <form>
    <input type="checkbox" name="awareness" value="Coordinates"> Coordinates <br>
    <input type="checkbox" name="awareness" value="Distance"> Distance <br>
    <input type="checkbox" name="awareness" value="Direction"> Direction <br>
    </form>
