.span12
    <form name="display">
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Coordinates"> Display a friend's coordinates <br>
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Direction"> Display the direction of a friend <br>
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Distance"> Display the distance to a friend <br>
    </form>
