.span12
    h3 Display
    <form name="display">
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Coordinates"> Coordinates <br>
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Distance"> Distance <br>
    <input type="checkbox" id = "dis1" name="dis1" onclick = "writeDis()" value="Direction"> Direction <br>
    </form>
