header#overview
  .page-header
    h1 Test side
      small  Saved app
  .sidemenu
    ul
        li
            <a href ="index.html"> Home </a>
    
           br 
        li
            <a href ="visibility.html"> Create group </a>
        br
        li
            <a href ="match.html"> Choose awareness</a>
        br
        li
            <a href ="usercontrol.html"> Choose components </a>
 
 .content   
    h1 Connect your aWearable to the computer
    .row.example
        .span12#e2-exampleConnection
          p
            a.btn(href="#")#e2-buttonConnect
              i.icon-refresh
              |  Connect to aWearable
          .alert.alert-info Please connect to your aWearable using the button.
          .alert.hide.alert-error Unable to connect to aWearable!
          .alert.hide.alert-success Connection to aWearable established!


