header.jumbotron.subhead#overview
  <div class="help">
  p  <a href="aware_of.html">Friends and Privacy</a> <a href="/"> Create application</a>
  </div>
  h1 aWearable
  h2 <a href="about.html" class="smallhead">About</a> | <a href="how_to.html" class="selected">How-To</a>

section#homeContent
    .row
        #progressBox
          .span3
            <img src="images/prog_grey.gif" id="progress_image2" />
            
        .span9
          .page-header
            <div id="how_to">
            h1 How-To Create Application: Step by step explanation
                small <br> <br> 1. Connect your aWearable to the computer
               
                <p> Connect the USB cable to the aWearaness device and your computer. Click the <br>'Connect to aWearable' button. When the info-bar below the button turns green,<br> the aWearable is connected.  </p>
            h1
                small <br>2. Choose parts and their behavior and plug the parts to the aWearable
            <p></p>
            <p> <b>a. Drag the desired parts to their respective boxes</b></br>Click the part(s) (display, light, sound and or vibration) you want to use in your application. <br>Drag it to the correct box below. The box background turns green when the correct <br>part is added.
            <p> <b>b. Choose the behavior of the parts.</b><br>When the part is put in the box, some options will be displayed. Choose the options you<br> want to use in your application
            <p> <b> c. Plug the chosen parts to the aWearable as illustrated above this step.</b><br>Plug the parts you have chosen to the correct cable. This is illustrated in the image above<br> this step. With a number?
            h1
                small <br>3. Choose range
            <p> Set the awareness range. You will only receive location information from friends when <br>they are inside this range.
            h1
                small <br>4. Save application
            <p>This step will send the application you have just made to the aWearable. The aWerable <br>is now ready for use, and you can disconnect it from the computer and remove the <br>USB cable. To make a new application simply start from the top again, do the changes<br> and click 'Upload Application' </p> 
            
            </div>
    .rowLine
    .row
        #progressBox
          .span3
            <img src="images/prog_grey.gif" id="progress_image2" />
            
        .span9
          .page-header
            h1 Friends 
                small <br><br>Add friends
            <div id="how_to">
            <p> To add friends is crucial as these are the people you will receive location information from.<br> As a rule you should always ask a person to be aware of them, before adding them.
            h1
                small <br>Friends you are aware of
            <p> To add friends you log in to facebook using the 'Login with Facebook' button. The friends<br> you add will receive a notification that you are aware of them. Their name will appear in the<br> web appplication under 'Friends you are aware of'. You can also delete a friend by clicking<br> the cross next to their name. 
            h1
                small <br>Friends that are aware of you
            <p> When a friend adds you, you will receive a facebook notifiaction and their name will appear <br>under 'Friends aware of you'. You can also delete the friends you don't want to follow you<br> by clicking the cross next to their name.
            </p>
            </div>
    .rowLine
    .row
        #progressBox
          .span3
            <img src="images/prog_grey.gif" id="progress_image2" />
            
        .span9
          .page-header
            h1 Privacy Settings
            <br>
            <div id="how_to">
            <p>You can choose how much location information to share with friends. We reccomend that<br> you make an agreement with you friends what to share with each other for optimal use of<br> the application.