.span12
    h3 Lights
    <form name="lights">
    <input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="Distance"> Distance<br>
    <input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="Direction"> Direction<br>
    <input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="InRange"> In-range
    </form>