<form name="lights">
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="Distance"> Light up when a friend is in your range<br>
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="InRange"> Blink faster when a friend is getting closer
</form>

