<form name="lights">
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="Distance"> Blink faster when a friend is getting closer<br>
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="InRange" checked> Blink when a friend is in your range
</form>