<form name="lights">
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="Distance"> Blink when a friend is in your range <br>
<input type="radio" id = "lig1" name="lig1" onclick = "writeLig()" value="InRange" checked> Blink faster when a friend is getting closer
</form