.span12
    h3 Lights
    <form>
    <input type="radio" name="awareness" value="Distance"> Distance<br>
    <input type="radio" name="awareness" value="Direction"> Direction<br>
    <input type="radio" name="awareness" value="InRange"> In-range
    </form>