<div id="fb-root"></div>
<link href="/styles/bootstrap/init.css" type="text/css" rel="stylesheet" />
<link href="/styles/prettify.css" type="text/css" rel="stylesheet" />
<link href="/styles/init.css" type="text/css" rel="stylesheet" />

script
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '109853005851767', // App ID
      channelUrl : '//localhost:8080/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };
  

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));
      
  function requestCallback(response) {
    var ids = response["to"];
    for (var i = 0; i < ids.length; ++i){
        return ids[i];
        var nameid = ids[i];
        loadInvitationAnswer(nameid);
    }
   
  }
  
script
    <!--Load accept- Ingrid-->
    
    function loadInvitationAnswer(nameid) {
        if (document.answerInvitation.acc1[0].checked) {
            document.getElementById("accept").innerHTML = "<br>" + nameid+ "Maria is now aware of you";
        }
        else if (document.answerInvitation.acc1[1].checked) {
            document.getElementById("accept").innerHTML = "<br>" + "You declined the invitation.";
        }
    }
header.jumbotron.subhead#overview
      
        h1 aWearable
      
       
        <div id="acceptOuter">
        p
             <b>Maria Moller</b> has added you to her <b>awareness group</b>! <br><i>Go to your aWearable application to edit groups and privacy settings.</i>
        
       
        
        
        </form>
        </div>
