<div id="fb-root"></div>
<link href="/styles/bootstrap/init.css" type="text/css" rel="stylesheet" />
<link href="/styles/prettify.css" type="text/css" rel="stylesheet" />
<link href="/styles/init.css" type="text/css" rel="stylesheet" />

script
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '109853005851767', // App ID
      channelUrl : '//localhost:8080/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
  };
  

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));
      
  function requestCallback(response) {
    var ids = response["to"];
    for (var i = 0; i < ids.length; ++i){
        return ids[i];
        var nameid = ids[i];
        loadInvitationAnswer(nameid);
    }
   
  }
  
script
    <!--Load accept- Ingrid-->
    
    function loadInvitationAnswer(nameid) {
        if (document.answerInvitation.acc1[0].checked) {
            document.getElementById("accept").innerHTML = "<br>" + nameid+ "Maria is now aware of you";
        }
        else if (document.answerInvitation.acc1[1].checked) {
            document.getElementById("accept").innerHTML = "<br>" + "You declined the invitation.";
        }
    }
header.jumbotron.subhead#overview
      
        h1 aWearable
      
       
        <div id="acceptOuter">
        h4 Maria Moller has requested to be aware of you
        <div id="accept">
        <br>
        <form name="answerInvitation">
        <input type="radio" id = "acc1" name="acc1" onclick = "loadInvitationAnswer()" value="Accept" style=display:none> 
        <label for="acc1"><img src="/images/AcceptButton.png" alt="Accepting" /></label>
        <input type="radio" id = "acc2" name="acc1" onclick = "loadInvitationAnswer()" value="Ignore" style=display:none>
        <label for="acc2"><img src="/images/DeclineButton.png" alt="Ignoring" /></label>
        
        </form>
        </div>
