<div id="fb-root"></div>
script 
  function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
            testAPI();
        } else {
            // cancelled
        }
    });
  }
   

script 
    function validateForm() {
        
        var z=document.forms["signup"]["awearableID"].value;
            if (z==null || z=="")
              {
              alert("aWearableID must be filled out before creating aWearable account");
              return false;
            }
    }


header.jumbotron.subhead#overview2


  <div class="help">
  p <a href="#">Login</a> <a href="#">Sign up</a>

  </div>
  h1 <a href="start.html">aWearable</a>
    h2 Sign up
    <img src="images/header_img2.jpg" id="header_img">
 
 section#homeContentStart
 .row
    .span9
       .page-header
    
            h1 Sign up
                small <br>Enter your aWearable ID and log in to your facebook account
         
                
            <form name="signup" action="/" method="get" onsubmit="return validateForm()">
            <p><b><br>Enter aWearable ID:<font color="red" size="4px">*</font></b>
            <p><i>The aWearable ID can be found on the aWearable device</i></p></p> <input type="text" name="awearableID"><br>
            
            <br>
            <div class="fb-text-name">
            <div id="fb-text"></div></div>
            <div id="fb-login"></div>
            <div id="fb-login-img">
            
            <p><b>Use facebook to create an account:<font color="red" size="4px">*</font></b></p>

            <img type="button" onclick="login() " id="facebook-login" src="images/facebook-login.png"; return true;/>
            </div>
  
            <br>
            <input type="submit" value="Save account">
            <br>
           

            </form>