<div id="fb-root"></div>
script 
  function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
            testAPI();
        } else {
            // cancelled
        }
    });
  }
   

script 
    function validateForm() {
        
        var z=document.forms["signup"]["awearableID"].value;
            if (z==null || z=="")
              {
              alert("aWearableID must be filled out");
              return false;
            }
    }


header.jumbotron.subhead#overview

  <div class="help">
  p <a href="#">Login</a> <a href="#">Sign up</a>

  </div>
  h1 <a href="start.html">aWearable</a>
    h2 Signup
 
 section#homeContentStart
 .row
    .span9
       .page-header
    
            h1 Signup
                small <br>To sign up you must have a facebook account
            <br>
                
            <form name="signup" action="/" method="get" onsubmit="return validateForm()">
            <div id="fb-text"></div>
            <div id="fb-login"></div>
            <div id="fb-login-img">
            
            <p><b>Use facebook to create an account:</b></p>

            <img type="button" onclick="login() " id="facebook-login" src="images/facebook-login.png"; return true;/>
            </div>
  
            <p><b><br>aWearable ID:</b></p> <input type="text" name="awearableID"><br>
            <br>
            <input type="submit" value="Create application">
            <br>
           

            </form>