.span12
    h3 Sound
    <form name="sound">
    <input type="radio" id = "snd1" name="snd1" onclick = "writeSnd()" value="Distance"> Distance<br>
    <input type="radio" id = "snd1" name="snd1" onclick = "writeSnd()" value="InRange"> In-range
    </form>