<form name="sound">
<input type="radio" id = "snd1" name="snd1" onclick = "writeSnd()" value="Distance"> Buzz louder when a friend is getting closer <br>
<input type="radio" id = "snd1" name="snd1" onclick = "writeSnd()" value="InRange" checked> Buzz when a friend is in your range
</form>