header.jumbotron.subhead#overview
  <div class="help">
  p <a href="#">Login</a> <a href="signup.html">Sign up</a>
  p <a href="about.html"> About</a>  <a href="how_to.html">How-To</a>
  </div>
  h1 <a href="start.html">aWearable</a>
 
section#homeContent
 .row
    .span9
       .page-header
            <div id="start">
            h1 The aWearable Toolkit
                small <br> Create your own wearable location- aware application and be aware of your friends!
            
            <p></p>
            <p> <br>To get started <a href="signup.html">sign up</a> here!</p>
            
            
            
            </div>

