header.jumbotron.subhead#overview
  <div class="help">
  p <a href="#">Login</a> <a href="signup.html">Sign up</a>

  </div>
  h1 <a href="start.html">aWearable</a>
 
section#homeContentStart
 .row
    .span9
       .page-header
            <div id="start">
            h1 The aWearable Toolkit
                small <br><br> Create your own wearable location- aware application and be aware of your friends!
            <br>
            <div id="about">
            <p>Without any coding the toolkit lets you:</p>
            <ul>
            <li>Add friends to be aware of</li>
            <li>Decide what location- information to share with friends</li>
            <li>Decide what location- information to receive from friends </li>
            <li>Decide how this location- information is presented</li>
            <li>Physically plug on the chosen parts to the aWearable</li>
            </ul>
            </div>
            <p></p>
            <p> <br>To get started <a href="signup.html">sign up</a> here!</p>
            
            
            
            </div>

