.span12
    h3 Vibration
    
    <form name="vibration">
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="Distance"> Distance<br>
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="InRange"> In-range
    </form>
    
    
        
    