.span12
    
    <form name="vibration">
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="Distance"> Vibrate faster when a friend is gettng closer<br>
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="InRange" checked> Vibrate when a friend is in your range
    </form>
    
    
        
    