.span5
    <form name="vibration">
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="InRange"> Vibrate when a friend is in your range<br>
    <input type="radio" id = "vib1" name="vib1" onclick = "writeVib()" value="Distance"> Vibrate faster when a friend is getting closer
    </form>
    
    
        
    