.navbar-fixed-top .brand{padding-right:0;padding-left:0;margin-left:20px;float:right;font-weight:bold;color:#000;text-shadow:0 1px 0 rgba(255, 255, 255, 0.1),0 0 30px rgba(255, 255, 255, 0.125);-webkit-transition:all .2s linear;-moz-transition:all .2s linear;transition:all .2s linear;}
.navbar-fixed-top .brand:hover{text-decoration:none;}
section{padding-top:60px;}
hr.soften{height:1px;margin:54px 0;background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));background-image:-ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));background-image:-o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));border:0;}
.jumbotron{position:relative;}
.jumbotron h1{margin-bottom:9px;font-size:81px;letter-spacing:-1px;line-height:1;}
.jumbotron p{margin-bottom:18px;font-weight:300;}
.jumbotron .btn-large{font-size:20px;font-weight:normal;padding:14px 24px;margin-right:10px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.masthead{padding-top:36px;margin-bottom:72px;}
.masthead h1,.masthead p{text-align:center;}
.masthead h1{margin-bottom:18px;}
.masthead p{margin-left:5%;margin-right:5%;font-size:30px;line-height:36px;}
.subhead{padding-bottom:15px;margin-bottom:9px;border:solid 1px #B0B0B0;-webkit-border-radius:4px;border-radius:4px;}
.subhead h1{font-size:54px;}
.subnav{width:100%;height:36px;background-color:#eeeeee;background-repeat:repeat-x;background-image:-moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));background-image:-webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);background-image:-ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);background-image:-o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);background-image:linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);border:1px solid #e5e5e5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.subnav .nav{margin-bottom:0;}
.subnav .nav>li>a{margin:0;padding-top:11px;padding-bottom:11px;border-left:1px solid #f5f5f5;border-right:1px solid #e5e5e5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.subnav .nav>.active>a,.subnav .nav>.active>a:hover{padding-left:13px;color:#777;background-color:#e9e9e9;border-right-color:#ddd;border-left:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.05);box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.05);}
.subnav .nav>.active>a .caret,.subnav .nav>.active>a:hover .caret{border-top-color:#777;}
.subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover{border-left:0;padding-left:12px;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;}
.subnav .nav>li:last-child>a{border-right:0;}
.subnav .dropdown-menu{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;}
@media (min-width:980px){.subnav-fixed{position:fixed;top:40px;left:0;right:0;z-index:1020;border-color:#d5d5d5;border-width:0 0 1px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 1px 0 #ffffff,0 1px 5px rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 0 #ffffff,0 1px 5px rgba(0, 0, 0, 0.1);box-shadow:inset 0 1px 0 #ffffff,0 1px 5px rgba(0, 0, 0, 0.1);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);} .subnav-fixed .nav{width:938px;margin:0 auto;padding:0 1px;} .subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}}.quick-links{min-height:30px;padding:5px 20px;margin:36px 0;list-style:none;text-align:center;overflow:hidden;}
.quick-links li{display:inline;margin:0 5px;color:#999;}
.quick-links .github-btn,.quick-links .tweet-btn,.quick-links .follow-btn{position:relative;top:5px;}
.marketing .row{margin-bottom:9px;}
.marketing h1{margin:36px 0 27px;font-size:40px;font-weight:300;text-align:center;}
.marketing h2,.marketing h3{font-weight:300;}
.marketing h2{font-size:22px;}
.marketing p{margin-right:10px;}
.marketing .bs-icon{float:left;margin:7px 10px 0 0;opacity:.8;}
.marketing .small-bs-icon{float:left;margin:4px 5px 0 0;}
.footer{margin-top:45px;padding:35px 0 36px;border-top:none;}
.footer p{margin-bottom:0;color:#555;}
.show-grid{margin-top:10px;margin-bottom:20px;}
.show-grid [class*="span"]{background-color:#eee;text-align:center;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;min-height:30px;line-height:30px;}
.show-grid:hover [class*="span"]{background:#ddd;}
.show-grid .show-grid{margin-top:0;margin-bottom:0;}
.show-grid .show-grid [class*="span"]{background-color:#ccc;}
.mini-layout{border:1px solid #ddd;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.075);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.075);box-shadow:0 1px 2px rgba(0, 0, 0, 0.075);}
.mini-layout{height:240px;margin-bottom:20px;padding:9px;}
.mini-layout div{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.mini-layout .mini-layout-body{background-color:#dceaf4;margin:0 auto;width:70%;height:240px;}
.mini-layout.fluid .mini-layout-sidebar,.mini-layout.fluid .mini-layout-header,.mini-layout.fluid .mini-layout-body{float:left;}
.mini-layout.fluid .mini-layout-sidebar{background-color:#bbd8e9;width:20%;height:240px;}
.mini-layout.fluid .mini-layout-body{width:77.5%;margin-left:2.5%;}
.popover-well{min-height:160px;}
.popover-well .popover{display:block;}
.popover-well .popover-wrapper{width:50%;height:160px;float:left;margin-left:55px;position:relative;}
.popover-well .popover-menu-wrapper{height:80px;}
.large-bird{margin:5px 0 0 310px;opacity:.1;}
.download .page-header{margin-top:36px;}
.page-header .toggle-all{margin-top:5px;}
.page-header h1{color:#0088cc;font-size:15pt;}
.page-header{border-bottom:none;}
.download h3{margin-bottom:5px;}
.download-builder input+h3,.download-builder .checkbox+h3{margin-top:9px;}
.download-builder input[type=text]{margin-bottom:9px;font-family:Menlo,Monaco,"Courier New",monospace;font-size:12px;color:#d14;}
.download-builder input[type=text]:focus{background-color:#fff;}
.download .checkbox{padding:6px 10px 6px 25px;color:#555;background-color:#f9f9f9;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;}
.download .checkbox:hover{color:#333;background-color:#f5f5f5;}
.download .checkbox small{font-size:12px;color:#777;}
#progressBox .span3{border:solid black;width:150px;vertical-align:middle;}
ol.progtrckr{margin:0;padding:0;list-style-type:none;}
ol.progtrckr li{display:inline-block;text-align:center;line-height:3em;}
ol.progtrckr[data-progtrckr-steps="2"] li{width:49%;}
ol.progtrckr[data-progtrckr-steps="3"] li{width:33%;}
ol.progtrckr[data-progtrckr-steps="4"] li{width:24%;}
ol.progtrckr[data-progtrckr-steps="5"] li{width:19%;}
ol.progtrckr[data-progtrckr-steps="6"] li{width:16%;}
ol.progtrckr[data-progtrckr-steps="7"] li{width:14%;}
ol.progtrckr[data-progtrckr-steps="8"] li{width:12%;}
ol.progtrckr[data-progtrckr-steps="9"] li{width:11%;}
ol.progtrckr li.progtrckr-done{color:black;border-bottom:4px solid yellowgreen;}
ol.progtrckr li.progtrckr-todo{color:silver;border-bottom:4px solid silver;}
ol.progtrckr li:after{content:"\00a0\00a0";}
ol.progtrckr li:before{position:relative;bottom:-2.5em;float:left;left:50%;line-height:1em;}
ol.progtrckr li.progtrckr-done:before{content:"\2713";color:white;background-color:yellowgreen;height:1.2em;width:1.2em;line-height:1.2em;border:none;border-radius:1.2em;}
ol.progtrckr li.progtrckr-todo:before{content:"\039F";color:silver;background-color:white;font-size:1.5em;bottom:-1.6em;}
.rowLine{border-bottom:solid #D3D3D3 1px;padding:0;}
.inline-block{display:inline-block;zoom:1;*display:inline;}
#menubox{color:green;height:10px;border:solid 2px;width:20px;float:right;}
img#progress_image2,#progress_image4,#progress_image5,#progress_image6,#progress_image7{max-height:120px;display:table-cell;vertical-align:middle;margin-left:auto;margin-right:auto;}
img#progress_image1{max-height:130px;display:table-cell;vertical-align:middle;margin-left:auto;margin-right:auto;margin-top:20%;}
img#progress_image3{height:400px;display:table-cell;vertical-align:middle;margin-left:auto;margin-right:auto;margin-top:220px;}
img#progress_image5{margin-top:5%;}
img#progress_image6{margin-top:5%;}
img#progress_image2{visibility:hidden;}
img#strekmann{max-height:100px;}
img#facebook-login{max-width:185px;margin:30px 0;}
#nameForm{width:170px;color:grey;}
#variables label{margin-bottom:0;}
.download-btn{margin:36px 0 108px;}
.download p,.download h4{max-width:50%;margin:0 auto;color:#999;text-align:center;}
.download h4{margin-bottom:0;}
.download p{margin-bottom:18px;}
.download-btn .btn{display:block;width:auto;padding:19px 24px;margin-bottom:27px;font-size:30px;line-height:1;text-align:center;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;}
.swatch-col{width:30px;}
.swatch{display:inline-block;width:30px;height:20px;margin:-6px 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.swatch-bordered{width:28px;height:18px;border:1px solid #eee;}
.browser-support{max-width:100%;}
h2+table,h3+table,h4+table,h2+.row{margin-top:5px;}
.marketing-byline{margin:-18px 0 27px;font-size:18px;font-weight:300;line-height:24px;color:#999;text-align:center;}
.scrollspy-example{height:200px;overflow:auto;position:relative;}
form.well{padding:14px;}
.well hr{margin:18px 0;}
.focused{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1),0 0 8px rgba(82, 168, 236, 0.6);outline:0;}
.docs-input-sizes select,.docs-input-sizes input[type=text]{display:block;margin-bottom:9px;}
.the-icons{margin-left:0;list-style:none;}
.the-icons i:hover{background-color:rgba(255, 0, 0, 0.25);}
.bootstrap-examples .thumbnail{margin-bottom:9px;background-color:#fff;}
@media (max-width:480px){body{padding-top:70px;} h2{margin-top:27px;} h2 small{display:block;line-height:18px;} h3{margin-top:18px;} .jumbotron h1,.jumbotron p{text-align:center;margin-right:0;} .jumbotron h1{font-size:45px;margin-right:0;} .jumbotron p{margin-right:0;margin-left:0;font-size:18px;line-height:24px;} .jumbotron .btn{display:block;font-size:18px;padding:10px 14px;margin:0 auto 10px;} .masthead{padding-top:0;} .quick-links{margin:40px 0 0;} .quick-links .divider{display:none;} .example-sites{margin-left:0;} .example-sites>li{float:none;display:block;max-width:280px;margin:0 auto 18px;text-align:center;} .example-sites .thumbnail>img{max-width:270px;} table code{white-space:normal;word-wrap:break-word;word-break:break-all;} .modal-example .modal{position:relative;top:auto;right:auto;bottom:auto;left:auto;}}@media (max-width:768px){body{padding-top:0;} .jumbotron .btn{margin-bottom:10px;} .subnav{position:static;top:auto;z-index:auto;width:auto;height:auto;background:#fff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;} .subnav .nav>li{float:none;} .subnav .nav>li>a{border:0;} .subnav .nav>li+li>a{border-top:1px solid #e5e5e5;} .subnav .nav>li:first-child>a,.subnav .nav>li:first-child>a:hover{-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;} .large-bird{display:none;} .popover-well .popover-wrapper{margin-left:0;} .show-grid [class*="span"]{margin-bottom:5px;} .footer .pull-right{float:none;} .footer p{margin-bottom:9px;}}@media (min-width:480px) and (max-width:768px){.jumbotron h1{font-size:54px;} .jumbotron p{margin-right:0;margin-left:0;}}@media (min-width:768px) and (max-width:980px){body{padding-top:0;} .jumbotron h1{font-size:72px;}}@media (max-width:980px){.navbar-fixed-top .brand{float:left;margin-left:0;padding-left:10px;padding-right:10px;} .quick-links li{display:inline-block;margin:5px;}}@media (min-width:1210px){.subnav-fixed .nav{width:1168px;}}body{position:relative;padding-top:90px;background-color:#E8E8E8;background-position:0 40px;}
.jumbotron{position:relative;background-color:white;}
.jumbotron h1{margin-bottom:9px;font-size:81px;letter-spacing:-1px;line-height:1;}
.jumbotron p{margin-bottom:18px;font-weight:300;}
.subhead{padding:3%;margin-bottom:15px;margin-top:-50px;}
.subhead h1{font-size:50px;color:#468847;}
.subhead h2{font-size:30px;color:#71af71;margin-left:225px;}
.span3{margin-top:0px;}
.container{width:1020px;}
.content{width:100%;height:100%;margin-left:auto;margin-right:auto;}
#groupContent .page-header{margin-top:-25px;}
#groupContent{background-color:white;border-color:#bce8f1;width:240px;border:solid 1px #B0B0B0;-webkit-border-radius:4px;border-radius:4px;float:left;}
#homeContent{width:700px;float:right;height:100%;background-color:white;padding:1% 3% 1% 3%;border:solid 1px #B0B0B0;-webkit-border-radius:4px;border-radius:4px;margin-bottom:70px;}
#howtoContent{width:956px;float:right;height:100%;background-color:white;padding:1% 3% 1% 3%;border:solid 1px #B0B0B0;-webkit-border-radius:4px;border-radius:4px;margin-bottom:70px;}
#howtoContent .span9{margin-left:240px;margin-right:auto;}
#homeBoxes{padding-top:30px;}
.example{margin-top:10px;}
.example .btn{margin-bottom:10px;}
.response{line-height:28px;margin-left:12px;}
.response.error{color:red;}
label.label{display:inline;}
#e2-secondStep select{margin-right:4px;}
.exampleLinks{margin-top:8px;}
.range{margin-bottom:0px;position:relative;top:-9px;margin-left:12px;width:373px;}
.interval{margin-bottom:0px;position:relative;top:-9px;margin-left:12px;width:60px;}
.collectedTags{margin-top:14px;}
#connection-log{height:358px;overflow:hidden;padding-top:4px;overflow-x:hidden;margin-bottom:16px;}
.content{margin-left:320px;}
.content p{font-size:14px;}
.content .span12{width:540px;}
.content .span12 p{font-size:14px;}
.awareness-buttons .btn{padding:5px;margin:10px 10px 10px 0;font-weight:normal;text-align:center;width:150px;border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;box-shadow:0px 3px 5px #000;-moz-box-shadow:0px 3px 5px #000;-webkit-box-shadow:0px 3px 5px #000;}
.awareness-buttons .btn:hover{position:relative;top:3px;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;}
.awareness-buttons .btn:active{position:relative;top:1px;}
#mainContainer{width:700px;margin-top:10px;height:420px;color:#3a87ad;}
#components{background-color:#d9edf7;width:650px;padding:10px 22px 10px 22px;border:solid 1px #bce8f1;-webkit-border-radius:4px;border-radius:4px;height:120px;color:#3a87ad;}
#arduinoBase{width:694px;margin-top:10px;height:440px;background-image:url('../images/grovebaseshield.png');background-size:66% 60%;background-repeat:no-repeat;background-color:#d9edf7;border:solid 1px #bce8f1;-webkit-border-radius:4px;border-radius:4px;background-position-x:25%;background-position-y:50%;}
#arduinoBase p{color:black;font-weight:normal;}
.dragableBox1{margin-bottom:5px;margin-right:40px;padding:3px 3px 3px 3px;font-weight:bold;text-align:center;display:inline-block;}
.dragableBox1 img{width:200px;height:auto;}
.dragableBox2{margin-bottom:5px;padding:3px 3px 3px 3px;margin-right:40px;font-weight:bold;text-align:center;display:inline-block;}
.dragableBox2 img{width:75px;height:85px;}
.dragableBox3{margin-bottom:5px;margin-right:40px;padding:3px 3px 3px 3px;font-weight:bold;text-align:center;display:inline-block;}
.dragableBox3 img{width:85px;height:95px;}
.dragableBox4{margin-bottom:5px;margin-right:40px;padding:3px 3px 3px 3px;font-weight:bold;text-align:center;display:inline-block;}
.dragableBox4 img{width:65px;height:auto;}
.dragableBoxRight{border:1px solid #71af71;-webkit-border-radius:2px;border-radius:2px;margin-bottom:5px;padding:3px 3px 3px 3px;font-weight:bold;text-align:center;}
div.dragableBoxRight{height:90px;width:140px;float:left;margin-right:5px;padding:0;}
.dropBox{width:190px;border:1px solid #000;background-color:#71af71;height:400px;margin-bottom:10px;padding:3px;overflow:auto;}
a{color:#F00;}
.clear{clear:both;}
#box101{width:206px;height:115px;margin-left:320px;margin-top:20px;background-image:url('../images/disp-text.png');background-size:70% 25%;background-repeat:no-repeat;background-position:center;}
#box102{width:81px;height:91px;margin-left:320px;margin-top:140px;background-image:url('../images/lig-text.png');background-size:55% 70%;background-repeat:no-repeat;background-position:center;}
#box103{width:91px;height:101px;margin-left:-70px;margin-top:260px;background-image:url('../images/vib-text.png');background-size:80% 65%;background-repeat:no-repeat;background-position:center;}
#box104{width:71px;height:94px;margin-left:30px;margin-top:30px;background-image:url('../images/sound-text.png');background-size:70% 60%;background-repeat:no-repeat;background-position:center;}
#box1{width:200px;height:109px;}
#box2{width:75px;height:85px;}
#box3{width:85px;height:95px;}
#box4{width:65px;height:88px;}
#divDisplay{margin:-230px 0 0 442px;}
#divDisplay .container{width:300px;}
#divLights{margin:5px 0 0 410px;}
#divLights .container{width:300px;height:70px;}
#divSound{margin:-330px 0 0 90px;}
#divSound .container{width:300px;}
#divVibration{margin:-20px 0 0 -140px;float:left;}
#divVibration .container{width:300px;height:70px;}
#divVibration .span5{width:300px;}
#friendnamesDiv{color:#3b5998;font-weight:bold;font-size:13px;width:300px;}
#fjerneDiv{float:right;margin:0 30% 0 0;font-weight:bold;}
#fjerneDiv button{display:block;margin:0 0 10px 0;border:none;background-color:white;font-weight:bold;color:#627aac;}
#fjerneDiv button:hover{color:#ffffff;background-color:#627aac;}
#friendnamesDiv1{color:#3b5998;font-weight:bold;font-size:13px;width:300px;}
#fjerneDiv1{float:right;margin:0 30% 0 0;font-weight:bold;}
#fjerneDiv1 button{display:block;margin:0 0 10px 0;border:none;background-color:white;font-weight:bold;color:#627aac;}
#fjerneDiv1 button:hover{color:#ffffff;background-color:#627aac;}
#not-allow{margin:0 0 0 20px;}
.span5{margin:0;}
.span4{margin-top:15px;width:150px;}
.span5 label{display:inline-block;}
.span4 label{display:inline-block;margin-left:-20px;}
.page-header img#lock{width:10px;height:auto;float:left;margin:2px 5px 0 0;}
#homeContent h2{color:#0088cc;}
.privacy_settings{display:inline;}
#friendspage h2{font-size:30px;color:#71af71;margin-left:20px;}
#privacy h2 small{margin-left:-20px;}
#followers p i{margin-left:0;}
h2 a{color:#999999;}
#following{background-color:white;border-color:#B0B0B0;}
#following p{font-size:14px;}
#followers p{font-size:14px;}
#connect_parts{padding-bottom:20px;margin-left:-20px;}
#connect_parts .btn{margin-right:20px;}
h2 a.selected{color:#71af71;text-decoration:underline;}
h2 a:hover{color:#71af71;}
#overview2{width:500px;height:110px;margin-left:auto;margin-right:auto;}
h2 a.smallhead{font-size:24px;}
.help{float:right;margin-top:-10px;}
.help a{color:#999999;padding:0 0 0 20px;font-size:16px;}
.help a:hover{color:#71af71;}
#about p{font-size:14px;line-height:1.7em;color:#525252;}
#about li{line-height:18px;margin-bottom:12px;color:#525252;font-size:14px;}
#about ul{list-style:circle outside;}
#about a{color:#999999;}
#about a:hover{color:#71af71;}
#how_to p{color:#525252;font-size:14px;line-height:1.7em;font-weight:normal;}
.span9#range{height:135px;}
